<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="timestamp" timeReference="contextBirth" datePattern="yyyy-MM-dd'_'HH-mm-ss"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="logs/${timestamp}_app.log"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5thread] %clr(%-5level) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger level="INFO" name="console" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
